# LAB 03 - 프로그램 흐름 제어 / 리스트 기초

## 프로그램 흐름제어 | 중첩 조건문 이해하기

In [3]:
#점수를 받아서 패스와 불합격을 나누고, 패스일 때의 학점을 세부적으로 분류해보자


point=int(input("점수를 입력해주세요!"))

if point > 80 :
    print("합격입니다")
    if point > 95 :
        print("학점은 A 입니다")
    elif point>85:
        print("학점은 B 입니다")
else:
    print("불합격 입니다")

합격입니다
학점은 B 입니다

In [4]:
#짝수와 홀수의 합을 구해보자

number=int((input("숫자를 입력해보세요")))

x=0
y=0


for i in range(1,number+1):
    if i%2 ==0:
        print(i,"=짝수")
        x+=i
    else:
        print(i,"=홀수")
        y+=i


print("짝수들의 합",x)
print("홀수들의 합",y)

1 =홀수
2 =짝수
3 =홀수
4 =짝수
5 =홀수
6 =짝수
7 =홀수
8 =짝수
짝수들의 합 20
홀수들의 합 16

In [5]:
for i in range (0,5):
    star=""

    for j in range(0,i+1):
        star += "*"

    print(star)

*
**
***
****
*****

In [6]:
for i in range (0,5):
    star=""

    for j in range(0,i+1):
        star = "*****"

    print(star)

*****
*****
*****
*****
*****

In [7]:
x=3
y=5

for i in range(1,101):
    if i% x==0 and i%y ==0:
        print(i)

15
30
45
60
75
90

In [8]:
#5명의 학생에 대한 성적 나열
grade = [98.82,73,64,100]
print(grade)

#각 학생의 이름에 대한 나열
names=['철수','영희','나영','민식','호영']

#서로 다른 데이터 타입들 함께 사용 가능
student=['철수',167,72,"남자",True]
print(student)

[98.82, 73, 64, 100]
['철수', 167, 72, '남자', True]

In [9]:
buxi =[63,74,24]

#리스트로부터 원소 추출해내기
print(buxi[1])
print(100+buxi[0])

74
163

In [10]:
#리스트 안에 있는 값은 새로 정의해서 변경할 수도 있음

mydata =[100,200,300]
print(mydata)

mydata[0] = 150
mydata[1]=mydata[1]-20
mydata[2]+=300


print(mydata)

[100, 200, 300]
[150, 180, 600]

In [11]:
#리스트의 덧셈
#리스트를 더하면 내부 항목들이 이어져서 붙여지는 개념
a=[1,2,3]
b=[4,5]
c=a+b
print(c)



#리스트의 곱셈
d=[10,20,30]
e=d*3
print(e)

[1, 2, 3, 4, 5]
[10, 20, 30, 10, 20, 30, 10, 20, 30]

In [12]:

bohee=[160,35,60]
gyehong=[163,40,70]
print(bohee)
print(gyehong)


print(bohee+gyehong)
print(bohee*3)

[160, 35, 60]
[163, 40, 70]
[160, 35, 60, 163, 40, 70]
[160, 35, 60, 160, 35, 60, 160, 35, 60]

In [13]:
student1=['나래',98]
student2=['요니',80]
student3=['예지',40]


student_group = [student1,student2,student3]
print(student_group)

student_group2=[
        ['나래',98],
        ['요니',99],
        ['예지',99]
]

print(student_group2)

[['나래', 98], ['요니', 80], ['예지', 40]]
[['나래', 98], ['요니', 99], ['예지', 99]]

In [14]:
print(student_group[1])
print(student_group[1][1])

['요니', 80]
80

In [15]:
friends =[
       ['요니',160,43],
       ['뿌시',162,60], 
       ['나라',164,50],
]


print('이름:',friends[0][0],'키:',friends[0][1],'몸무게:',friends[0][2])
print('이름:',friends[1][0],'키:',friends[1][1],'몸무게:',friends[1][2])
print('이름:',friends[2][0],'키:',friends[2][1],'몸무게:',friends[2][2])

이름: 요니 키: 160 몸무게: 43
이름: 뿌시 키: 162 몸무게: 60
이름: 나라 키: 164 몸무게: 50

In [16]:
score=[60,70,80,90,100]

print(score[:4])

[60, 70, 80, 90]

In [17]:
foo=[1,2,3,4,5]

foo[2:3] =[20,30,40]
print(foo)

[1, 2, 20, 30, 40, 4, 5]

In [18]:
a=100
b=a
print(a)
print(b)

100
100

In [19]:
b=200
print(a)
print(b)

100
200

In [20]:
foo=[1,2,3]
bar=foo
print(foo)
print(bar)

[1, 2, 3]
[1, 2, 3]

In [21]:
bar[1]=20
print(foo)
print(bar)

[1, 20, 3]
[1, 20, 3]

In [22]:
#슬라이싱을 활용한 방법
hello =[100,200,300]
cp2=hello[:]

#복사본을 변경하더라도 원본에 영향이 없음
cp2[1] =12345
print(hello)
print(cp2)

[100, 200, 300]
[100, 12345, 300]

In [23]:
#리스트 객체의 함수를 사용하는 방법
world =["hello","python","world"]
cp3=world.copy()


#복사본을 변경해도 원본에는 영향이 없음
cp3[0]="nice"
print(world)
print(cp3)

['hello', 'python', 'world']
['nice', 'python', 'world']

In [24]:
def divmod(a, b):
    q = a // b  # 몫
    r = a % b   # 나머지
    return q, r # 튜플 형태로 반환됨

x, y = divmod(7, 3)
print(x)  # 2
print(y)  # 1

2
1

In [25]:
#짝수와 홀수의 합을 구해보자


#내가 구해야하는 것 : 내가 입력한 숫자에 대해서 하나씩 스캔하면서 짞수는 짝수끼리, 홀수는 홀수끼리 더해보자


number = int(input("내가 합을 구하려는 숫자"))

x=0
y=0

for i in range (0,number+1):
    if i%2 ==0:
        print("짝수-->",i)
        x+=i
    else:
        print("홀수-->",i)
        y+=i


print("짝수의 합은" , x)
print("홀수의 합은",y)

짝수--> 0
홀수--> 1
짝수--> 2
홀수--> 3
짝수--> 4
홀수--> 5
짝수--> 6
홀수--> 7
짝수--> 8
홀수--> 9
짝수--> 10
홀수--> 11
짝수--> 12
홀수--> 13
짝수--> 14
홀수--> 15
짝수--> 16
홀수--> 17
짝수--> 18
홀수--> 19
짝수--> 20
홀수--> 21
짝수--> 22
홀수--> 23
짝수--> 24
홀수--> 25
짝수--> 26
홀수--> 27
짝수--> 28
홀수--> 29
짝수--> 30
홀수--> 31
짝수--> 32
홀수--> 33
짝수--> 34
홀수--> 35
짝수--> 36
홀수--> 37
짝수--> 38
홀수--> 39
짝수--> 40
홀수--> 41
짝수--> 42
홀수--> 43
짝수--> 44
홀수--> 45
짝수--> 46
홀수--> 47
짝수--> 48
홀수--> 49
짝수--> 50
홀수--> 51
짝수--> 52
홀수--> 53
짝수--> 54
홀수--> 55
짝수--> 56
홀수--> 57
짝수--> 58
홀수--> 59
짝수--> 60
홀수--> 61
짝수--> 62
홀수--> 63
짝수--> 64
홀수--> 65
짝수의 합은 1056
홀수의 합은 1089

In [26]:
# 이번에는 0 ---- ,1 ---- , 2--- 를 반복해서 출력해보자


for i in range (0,5):
    print(i)

    if(i+1<5):
        print("======")

0
======
1
======
2
======
3
======
4

In [27]:
#3과 5의 공배수를 구해보자
#우선 3과 5를 정의해주자

x=3
y=5

for i in range (0,101):
    if i%x==0 and i%y==0:
        print(i)

0
15
30
45
60
75
90

In [28]:
#구구단을 외워보자
#for 안에 for 가 있어야 하는 구조

#내가 필요한 것 1) 곱할 숫자 2) 1-9 까지 3) 곱해진 결과값 4) 세가지에 대한 출력값


for i in range(1,10):

    for y in range(1,10):
        z=i*y
        print(i,"x",y,'=',z)

    if (1+i < 10):
        print('====')

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
====
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
====
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
====
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
====
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
====
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
====
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
====
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
====
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [29]:
#별 찍기 문제
for i in range(0,5):
    star =""

    for j in range(0,i+1):
        star += "*"

    
    print(star)

*
**
***
****
*****

In [30]:
#리스트에 있는 평균값과 총합 값을 구해보자

a=[[80,20,64,74],[26,37,45,89]]

for score in a:
  print(score[1])

20
37

In [31]:
a=254
print(a)

254