# LAB 02 - 함수의 이해 / 조건문과 반복문

## 내장함수 type 살펴보기

In [ ]:

age = 20
typeOfAge = type(age)
print(typeOfAge)

<class 'int'>

In [ ]:
pi=3.14
typeOfPi=type(pi)
print(typeOfPi)

<class 'float'>

In [ ]:
message="hello python"
typeOfMessage = type(message)
print(typeOfMessage)

<class 'str'>

In [ ]:
ok=True
typeOfOk = type(ok)
print(typeOfOk)

<class 'bool'>

In [ ]:
a=100
b=3.14
c=True

print("Life","is","too","short",a,b,c)

Life is too short 100 3.14 True

In [ ]:
message = input("메세지를 입력하세요!")
print(message)

안녕하세요 데이터 타입이 궁금해요!

In [ ]:
t=type(message)
print(t)

<class 'str'>

## print() 함수 살펴보기

In [ ]:
#문자열을 더하면 연결하게 된다
a="안녕하세요 "
b="저는 햄스터를 키우고 있어요"
print(a+b)

안녕하세요 저는 햄스터를 키우고 있어요

## input() 함수 살펴보고, 입력 받은 문자열 활용하기

In [ ]:
#input 으로 입력받은 항목은 모두 str 값으로 인식
money=input("금액을 입력해주세요")
change=input("잔액을 입력해주세요")
print(money+change)

500001000

In [ ]:
#input 으로 입력받은 항목은 모두 str 값으로 인식, 따라서 내가 원하는 형태로 형변환을 해줘야 한다
money=int(input("금액을 입력해주세요"))
change=int(input("잔액을 입력해주세요"))
print(money+change)

501000

In [ ]:
#문자형 데이터는 float 으로 살수로 만들어 줄 수 있음
a="152.36"
b="351.35"

a2=float(a)
b2=float(b)

print(a2+b2)

503.71000000000004

In [ ]:
#사용자가 입력한 값에 대해서 정수 혹은 실수로 변환해줄 수 있음


math=input("수학 성적을 입력하세요")
science = input("과학 성적을 입력하세요")
print(math+science)

9080

In [ ]:
#사용자가 입력한 값에 대해서 정수 혹은 실수로 변환해줄 수 있음

math=input("수학 성적을 입력하세요")
science = input("과학 성적을 입력하세요")

math_score=int(math)
science_score=int(science)

print(math_score+science_score)

170

In [ ]:
#사용자로부터 입력받은 값의 데이터 타입 확인하기
budget=input("이번달 총 예산을 입력해주세요")
int_budget=int(budget)

print(type(budget))
print(type(int_budget))

<class 'str'>
<class 'int'>

## 함수의 이해

In [ ]:
#사용자로부터 입력받은 값을 활용해서 시력 출력하기

def avg(a,b):
    return round((a+b)/2,2)

left_sight=float(input("왼쪽 시력을 입력해주세요"))
right_sight=float(input('오른쪽 시력을 입력해주세요'))

print("왼쪽시력은" ,left_sight ,'이고', "오른쪽 시력은" , right_sight,'이며','평균 시력은',avg(right_sight,left_sight))

왼쪽시력은 1.2 이고 오른쪽 시력은 1.3 이며 평균 시력은 1.2

In [ ]:
#사용자로부터 입력받은 학점을 함수를 통해 출력하기
first_semester = float(input("첫 학기의 학점을 입력해주세요"))
second_semester=float(input("두번쨰 학기의 학점을 입력해주세요"))


def avg(a,b):
    return round(a+b/2,2)

print("첫 학기와 두번째 학기 학점은 각각", first_semester,second_semester ,"이고, 평균 학점은" , avg(first_semester,second_semester), '입니다')

첫 학기와 두번째 학기 학점은 각각 90.0 80.0 이고, 평균 학점은 130.0 입니다

In [ ]:
#단순 계산 함수 만들어보기
def sum1(x,y,z=0):
    answer = x+y+z
    print(answer)

sum1(1,2,3)
sum1(10,20)

6
30

In [ ]:
#단순 계산 함수 만들어보기
def total(a,b,c,d) :
    z=a+b+c+d
    print(z)


total(4,6,8,9) 
total(d=9,c=8,b=6,a=4)

27
27

In [ ]:
def plus(x,y):
    z=x+y
    return z

#return z 가 있기 떄문에 plus(10,20)  값이 10+20을 한 z 값으로 대체된다
a=plus(10,20)
print(a)


print(plus(100,200))


b=plus(5,7) + 100
print(b)

30
300
112

In [ ]:
def foo(x,y):
    return 0
    z=x+y
    print(z)

foo(1,2)

0

In [ ]:
def foo(x,y):
    z=x+y
    print(z)
    return z

foo(1,2)

3

3

In [ ]:
def solution(num1,num2):
    answer=num1+num2
    return answer
    
print(solution(2,3))
print(solution(100,2))

5
102

In [ ]:
def solution(num1,num2):
    answer=num1-num2
    return answer

In [ ]:
def solution(num1,num2):
    answer=num1-num2
    return answer 

print(solution(2,3))

-1

In [ ]:
def solution(num1,num2):
    answer=round((num1/num2)*1000)
    return answer 

print(solution(7,3))

2333

### if 조건문

In [ ]:
a=100
if a >= 100:
    print("a는 100보다 크기가 같습니다")
    print("그러므로 이 부분은 출력됩니다")

a는 100보다 크거가 같습니다
그러므로 이 부분은 출력됩니다

In [ ]:
print("시험시작")
score=int((input("시험 점수를 입력하세요")))
if score >=60:
    print("합격입니다")
print("시험끝")

시험시작
합격입니다
시험끝

In [ ]:
money=100
if money:
    print("택시를 타서")
print("집에 가요")

택시를 타서
집에 가요

In [ ]:
name = ''
if name:
    print(name)
print("프로그래밍")

프로그래밍

In [ ]:
myage = int(input("나이를 입력하세요"))

if myage == 20:
    print("20살 입니다")

if myage != 20 :
    print("20살이 아닙니다")

if myage>19:
    print("성인 입니다")

if myage <= 19:
    print("청소년입니다")

20살이 아닙니다
성인 입니다

In [ ]:
point=int(input("점수를 입력하세요"))

if point > 70 and point < 80:
    print("c학점 입니다")

if point <= 70 or point > 80:
    print("c학점이 아닙니다")

c학점 입니다

In [ ]:
isKorean=False


if isKorean == True:
    print("한국사람입니다")

if isKorean == False:
    print("한국사람이 아닙니다")


if isKorean != True:
    print("한국사람이 아닙니다")


if isKorean !=False:
    print("한국사람입니다")

if isKorean:
    print("한국사람입니다")

if not isKorean:
    print("한국사람이 아닙니다")

한국사람이 아닙니다
한국사람이 아닙니다
한국사람이 아닙니다

In [ ]:
print("시험시작")

score = int(input("점수를 입력하세요"))

if score >= 60:
    print("합격입니다")

else:
    print("불합격입니다")
print("시험 끝")

시험시작
합격입니다
시험 끝

In [ ]:
answer = input("한국인입니까? (Y/N)")

if answer == "Y":
    isKorean = True

else:
    isKorean=False


if isKorean:
    print("한국 사람 입니다")

else:
    print("한국 사람이 아닙니다")


if not isKorean:
    print("한국 사람이 아닙니다")

else:
    print("한국 사람 입니다")

한국 사람 입니다
한국 사람 입니다

In [ ]:
print ("시험 시작")


point=int(input("점수를 입력하세요"))

if point > 90:
    print("A학점")

elif point > 80:
    print("B학점")

elif point > 70:
    print("C학점")

else:
    print("F학점")
print("시험 끝")

시험 시작
F학점
시험 끝

## while 반복문

In [ ]:
x=1  #초기식
while x <= 10:   #조건식
    print("x=",x)
    x +=1   #증감식
print("x의 최종값" ,x)

x= 1
x= 2
x= 3
x= 4
x= 5
x= 6
x= 7
x= 8
x= 9
x= 10
x의 최종값 11

In [ ]:
x=int(input("구구단을 구해보자"))

y=1
while y<10:
    z=x*y
    print(x,"X",y,'=',z)
    y+=1

8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72

In [ ]:
#1~10 까지의총 합을 구해보자
x=1 #초기식
sum=0 #총 합을 누적해서 저장할 변수
while x <= 10:   #조건식 > x 가 10보다 작거나 같은 동안 반복 수행
    sum+=x
    print("x=",x,'-> sum=',sum)
    x+=1   # 증감식 , 조건에 사용되는 값을 변경합니다

x= 1 -> sum= 1
x= 2 -> sum= 3
x= 3 -> sum= 6
x= 4 -> sum= 10
x= 5 -> sum= 15
x= 6 -> sum= 21
x= 7 -> sum= 28
x= 8 -> sum= 36
x= 9 -> sum= 45
x= 10 -> sum= 55

In [ ]:
x=1
while x<=10:
    print("x=",x)
    x+=1

x= 1
x= 2
x= 3
x= 4
x= 5
x= 6
x= 7
x= 8
x= 9
x= 10

In [ ]:
f=int(input('구구단을 만들 숫자를 입력해주세요!'))

y=1
while y<10:
    z=f*y
    print(f,'x',y,'=',z)
    y+=1

8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72

In [ ]:
#1부터 10까지의 총 합을 구해보자
x=1 #초기식
sum=0 #총합을 누적해서 저장할 변수
while x<=10:
    sum+=x
    print('x=',x,'->sum =', sum)
    x+=1

x= 1 ->sum = 1
x= 2 ->sum = 3
x= 3 ->sum = 6
x= 4 ->sum = 10
x= 5 ->sum = 15
x= 6 ->sum = 21
x= 7 ->sum = 28
x= 8 ->sum = 36
x= 9 ->sum = 45
x= 10 ->sum = 55

## for 반복문

In [ ]:
for x in range(1,11):
    print('x=',x)


print('x의 최종값=',x)

x= 1
x= 2
x= 3
x= 4
x= 5
x= 6
x= 7
x= 8
x= 9
x= 10
x의 최종값= 10

In [ ]:
x=int(input('숫자를 입력하세요'))
for y in range(1,10):
    z=x*y
    print(x,'x',y,'=',z)

8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72

In [ ]:
sum=0

for x in range(1,11):
    sum+= x
    print('x=',x,'->sum',sum)

x= 1 ->sum 1
x= 2 ->sum 3
x= 3 ->sum 6
x= 4 ->sum 10
x= 5 ->sum 15
x= 6 ->sum 21
x= 7 ->sum 28
x= 8 ->sum 36
x= 9 ->sum 45
x= 10 ->sum 55

In [ ]:
for a in range (0,50,10):
    print(a)

0
10
20
30
40

In [ ]:
for a in range(10,0,-2):
    print(a)

10
8
6
4
2

In [ ]:
#for 문을 활용해서 1부터 10 까지 출력하기
for x in range (1,11):
    print('x=',x)


print("===========")
#while 문을 활용해서 1부터 10까지 출력하기
x=1
while x <=10 :
    print('x=',x)
    x+=1     #증감식 까먹지 않고 꼭 써주기

x= 1
x= 2
x= 3
x= 4
x= 5
x= 6
x= 7
x= 8
x= 9
x= 10
===========
x= 1
x= 2
x= 3
x= 4
x= 5
x= 6
x= 7
x= 8
x= 9
x= 10

In [ ]:
#for 문을 활용해서 구구단 출력하기

y=int(input("구구단에 쓸 숫자를 입력해주세요!"))
for f in range (1,10):
    z=y*f
    print(y,"x",f,'=',z)


print("========")
#while 문을 이용해서 구구단 출력하기

u=1
while u <=10:
    z=y*u
    u+=1
    print(y,'x',u,'=',z)

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
========
4 x 2 = 4
4 x 3 = 8
4 x 4 = 12
4 x 5 = 16
4 x 6 = 20
4 x 7 = 24
4 x 8 = 28
4 x 9 = 32
4 x 10 = 36
4 x 11 = 40